*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    background: crimson;
    font-family:  'Ubuntu',sans-serif;
    padding: 15px;
}
.max-width{
    max-width: 1300;
    padding: 0 80ox;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav li{
    list-style: none;
    display: inline-block;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .nav li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    font-family:  'Ubuntu',sans-serif;
}
/* home */
.profile{
    background: url("profile.jpeg") no-repeat center;
    text-align: center;
    width: auto;
    margin-left: 50%;
}
.home{
    display: flex;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-color: black;
    font-family:  'Ubuntu',sans-serif;
}
.home .max-width{
    margin: auto 0 auto 250px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
